/* reset css */



/* debug */

/* [class*="col"]{
    background-color: rgba(137, 43, 226, 0.499);
    border: 1px solid #000;
} */

:root, [data-bs-theme=light]{
    --bs-primary: #17bc9c!important;
}
header{
    background-color: #2b3e50;
}

.hero .img-container{
    max-width: 150px;
}

.hero, .about{
    background-color: #17bc9c;
    color: #fff;
}

img{
    max-width: 100%;
}

.portfolio img{
    border-radius: 16px;
}

footer{
    background-color: #3a546d;
}

footer h5{
    text-transform: uppercase;
}

.copyright{
    background-color: #2b3e50;
    color: #fff;
}

.copyright p{
    margin: 16px 0px;

}

.divider{
    background-color: #fff;
    width: 64px;
    height: 3px;
    border-radius: 64px;
}

.portfolio .divider, .contact .divider{
    background-color: #212529;
}

.fa-star{
    font-size: 26px;;
}

footer .icon-container{
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    border-radius: 50%;
}